<div class="class-unit">
    <h3 id="class-1"><a href="#class-1">Week 1: Introduction and Node.js Install</a></h3>
    <h4 class="date">March 25, 2015</h4>
    <p>Install fest! This week we will work on installing or otherwise setting up the following:</p>
    <ul>
        <li>Node.js</li>
        <li>Git</li>
        <li>Github account</li>
        <li>Github App</li>
        <li>Heroku Toolbelt</li>
        <li>Heroku Account</li>
        <li>Select and install a text editor if you don't have one (<a href='http://www.sublimetext.com/'>Sublime Text</a> or <a href='https://atom.io/'>Atom</a> recommend)</li>
    </ul>
    <p>We'll review basic web concepts and choose projects. We'll review using github and issuing pull requests.</p>

    <h4>In class:</h4>
    <ul class="in-class">
        <li>Download and install Node: <a href="http://nodejs.org/download/">http://nodejs.org/download/</a></li>
        <li>Download and install Git: <a href="http://git-scm.com/">http://git-scm.com/</a></li>
        <li>Create an account (free) at <a href="http://heroku.com/">Heroku</a></li>
        <li>Install the heroku toolbelt: <a href="https://toolbelt.heroku.com/">https://toolbelt.heroku.com/</a></li>
        <li>Create an account (free) at <a href="http://github.com/">Github</a></li>
        <li>Download and install the Github App for <a href='https://mac.github.com/'>Mac</a> or <a href='https://windows.github.com/'>Windows</a>.</li>
        <li>Install "nodemon": `npm install --global nodemon`</li>
        <li>If you haven't already done so, sign up for the class <a href='https://groups.google.com/forum/?hl=en#!forum/itp-dwd-2015'>Email List</a></li>
        <li>Follow along with this: <a href ="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Heroku Node Starter guide</a></li>
    </ul>

    <h4>Exercises:</h4>
    <ul class="exercises">
        <li>Nodejs first look: <a href="http://www.lynda.com/Nodejs-tutorials/Nodejs-First-Look/101554-2.html">http://www.lynda.com/Nodejs-tutorials/Nodejs-First-Look/101554-2.html</a> - Sections 1, 2, 3</li>
        <li>Node beginner book: <a href="http://www.nodebeginner.org/">http://www.nodebeginner.org/</a>. The book is not free but there's a lot of free preview content available at the site.</li>
        <li>Need more help on Javascript basics? <a href='https://www.discovermeteor.com/blog/javascript-for-meteor/'>Short JavaScript primer.</a></li>
    </ul>

    <h4>Assignments:</h4>
    <ul class="assignments">
        <li>Decide what your project will be. You can always change it later, but you should make a decision before next week and be prepared to talk about it.</li>
        <li>Deploy another app to heroku. Be ready to share its link during class next week.</li>
    </ul>

    <p>Example project ideas:</p>
    <ul>
        <li>Image curation/collection (Pinterest)</li>
        <li>Bookmark aggregator (Delicious)</li>
        <li>Blog/CMS (Wordpress)</li>
        <li>Microblogging Site (Twitter)</li>
        <li>Arduino Datalogger (API)</li>
        <li>Social Network</li>
        <li>Address Book</li>
        <li>Video Aggregation Site</li>
        <li>Photo Sharing Site</li>
        <li>List Making App</li>
        <li>To-Do App</li>
    </ul>

    <h4>Optional resources:</h4>
    <ul class="optional-resources">
        <li>Getting started with the Github Mac app: <a href="http://mac.github.com/help.html">http://mac.github.com/help.html</a></li>
        <li>Git Essential Training tutorial on Lynda: <a href="http://www.lynda.com/Git-tutorials/Git-Essential-Training/100222-2.html">http://www.lynda.com/Git-tutorials/Git-Essential-Training/100222-2.html</a></li>
        <li><a href='http://cristal.inria.fr/~weis/info/commandline.html'>In The Beginning Was The Command Line</a>. (Fun read about the command line as the first computer user interface.)</li>
        <li><a href='http://try.github.io/'>Interactive Git Tutorial from Github</a></li>
        <li><a href="https://www.udacity.com/course/ud775">How to use Git and Github Udacity course</a></li>
        <li><a href="https://www.udacity.com/course/ud804">JavaScript Basics Udacity Course</a></li>
        <li><a href="https://www.udacity.com/course/ud304">Intro to HTML and CSS Udacity Course</a></li>
    </ul>
</div>

<div class="class-unit">
    <h3 id="class-2"><a href="#class-2">Week 2: Mini HTML/CSS Review, JavaScript Review, NPM Overview, express static</a></h3>
    <h4 class="date">April 1, 2015</h4>

    <ul>
      <li>Review node's module system and npm.</li>
      <li>A tale of two JavaScripts</li>
      <li>Talk a bit about what we can do with Express.</li>
      <li>Client-Side versus Server-Side</li>
      <li>Routing in express</li>
    </ul>

    <h4>Assignments:</h4>
    <ul class="assignments">
        <li><b>Create the version 0.1 of your app.</b> Static workflow pages with description of each page and how it links to the others. (Example: if you are making a blog, make a site with one page that says, "Enter blog post here", and another that says, "Here is your displayed blog post")</li>
        <li>Deploy your app to Heroku</li>
        <li><a href='http://nodeschool.io/#workshopper-list'>Nodeschool</a>: javascripting</li>
        <li><a href='http://nodeschool.io/#workshopper-list'>Nodeschool</a>: learnyounode (stop after "make it modular")</li>
        <li><a href='http://nodeschool.io/#workshopper-list'>Nodeschool</a>: expressworks (do your best with the "jade" section)</li>
        <li>Codeschool: <a href='https://www.codeschool.com/courses/building-blocks-of-express-js'>Building blocks of Express.js</a> (do the free section)</li>
    </ul>

    <h4>Examples:</h4>
    <ul class="examples">
        <li><a href="https://github.com/DWDatITP/sample-static">Sample Static</a></li>
        <li><a href="https://github.com/DWDatITP/sample-forms">Sample Forms</a></li>
    </ul>

    <h4>Resources</h4>
    <ul class="resources">
        <li>ITP DWD Notes Week 1: <a href="http://itpwebclass.herokuapp.com/notes/week-1">http://itpwebclass.herokuapp.com/notes/week-1</a></li>
        <li>ITP DWD Notes Week 2: <a href="http://itpwebclass.herokuapp.com/notes/week-2">http://itpwebclass.herokuapp.com/notes/week-2</a></li>
        <li>
          If you need to review HTML/CSS: <a href='http://www.codecademy.com/en/tracks/web'>Web Track @ Codecademy</a> (specifically: <a href='http://www.codecademy.com/courses/web-beginner-en-HZA3b/0/1?curriculum_id=50579fb998b470000202dc8b'>HTML Basics I</a>,
          <a href='http://www.codecademy.com/courses/web-beginner-en-y2Yjd/0/1?curriculum_id=50579fb998b470000202dc8b'>HTML Basics II</a> and
          <a href='http://www.codecademy.com/courses/web-beginner-en-TlhFi/0/1?curriculum_id=50579fb998b470000202dc8b'>CSS Basics</a>
        </li>
        <li>Another good site for HTML/CSS review: <a href='http://learn.shayhowe.com'>learn.shayhowe.com</a></li>
        <li>If you would like a review of npm use the <a href='http://nodeschool.io/#workshopper-list'>nodeschool</a> how-to-npm class</li>
        <li>If you would like a review of git use the <a href='http://nodeschool.io/#workshopper-list'>nodeschool</a> git-it class</li>
    </ul>

    <h4>Optional Resources</h4>
    <ul class="optional-resources">
        <li><a href="http://www.lynda.com/Nodejs-tutorials/Starting-Express-project/101554/110755-4.html">Using Node and Express @ Lynda.com</a></li>
        <li>JavaScript Language Intro @ Lynda.com: <a href="http://www.lynda.com/JavaScript-tutorials/Introducing-JavaScript-Language/123563-2.html">http://www.lynda.com/JavaScript-tutorials/Introducing-JavaScript-Language/123563-2.html</a></li>
        <li>HTML Tutorial: <a href="http://www.lynda.com/HTML-tutorials/HTML-Essential-Training-2012/99326-2.html">http://www.lynda.com/HTML-tutorials/HTML-Essential-Training-2012/99326-2.html</a></li>
        <li>CSS Tutorial: <a href="http://www.lynda.com/Web-Interactive-CSS-tutorials/CSS-Fundamentals/80436-2.html">http://www.lynda.com/Web-Interactive-CSS-tutorials/CSS-Fundamentals/80436-2.html</a></li>
        <li><a href="http://web.stanford.edu/class/msande91si/www-spr04/readings/week1/InternetWhitepaper.htm">How does the Internet Work</a>. More info than is necessary for you to make your app, but helps explain everything that is going on.</li>
        <li>JavaScript for cats: <a href="http://jsforcats.com/">http://jsforcats.com/</a></li>
        <li>Eloquent JavaScript: <a href="http://eloquentjavascript.net/contents.html">http://eloquentjavascript.net/contents.html</a></li>
        <li>Screencast: <a href='http://vimeo.com/91210794'>Tutorial to publish a node app to heroku</a></li>
        <li><a href='http://www.jmarshall.com/easy/http/'>HTTP Made Really Easy</a></li>
    </ul>
</div>

<div class="class-unit">
    <h3 id="class-3"><a href="#class-3">Week 3: Adding the Interactive to ITP with Node.js and dynamic templates, user input</a></h3>
    <h4 class="date">April 8, 2015</h4>
    <p>Review project ideas. Pair off and share wireframes and workflow.</p>
    <ul>
      <li>Templating Engines: Handlebars</li>
      <li>HTML forms, reading form responses in express.</li>
      <li>Loops, helpers and partials with Handlebars</li>
      <li>POST routes and form input with body-parser</li>
    </ul>

    <h4>Exercises:</h4>
    <ul class="exercises">
        <li>Node Frameworks: <a href="http://www.lynda.com/Nodejs-tutorials/Starting-Express-project/101554/110755-4.html">http://www.lynda.com/Nodejs-tutorials/Starting-Express-project/101554/110755-4.html</a></li>
        <li>Review the express site: <a href="http://expressjs.com/">http://expressjs.com/</a></li>
        <li>Check out some sites using express: <a href="http://expressjs.com/applications.html">http://expressjs.com/applications.html</a></li>
        <li>Express tutorial: <a href="http://net.tutsplus.com/tutorials/javascript-ajax/introduction-to-express/">http://net.tutsplus.com/tutorials/javascript-ajax/introduction-to-express/</a></li>
    </ul>

    <h4>Assignments:</h4>
    <ul class="assignments">
        <li>Add dynamic templates and user input to your project.</li>
    </ul>

    <h4>Reading to help with assignments</h4>
    <ul class="assignments">
      <li><a href="http://javascriptissexy.com/handlebars-js-tutorial-learn-everything-about-handlebars-js-javascript-templating/">Handlebars tutorial</a></li>
      <li><a href="http://handlebarsjs.com/">Handlebars Documentation</a></li>
      <li><a href="http://www.lynda.com/Nodejs-tutorials/Starting-Express-project/101554/110755-4.html">Lynda Tutorial</a></li>
      <li><a href="http://www.lynda.com/JavaScript-tutorials/Starting-Express-applications/141132/152185-4.html">Other Lynda Tutorial</a></li>
      <li><a href="http://expressjs.com/4x/api.html">Express Documentation</a></li>
      <li><a href="http://bit.ly/dwd-wk3">Class Presentation Deck</a></li>
    </ul>
</div>

<div class="class-unit">
    <h3 id="class-4"><a href="#class-4">Week 4: The persistence of data: Using MongoDB with Express</a></h3>
    <h4 class="date">April 15, 2015</h4>

    <ul>
      <li>Sessions and state management with express-session and cookie-parser</li>
      <li>Express Middleware</li>
      <li>What is Mongo? What is a database?</li>
      <li>Connecting to Mongo</li>
      <li>Mongoose</li>
    </ul>

    <h4>Assignments:</h4>
    <ul class="assignments">
        <li>Modify your app to accept form input (read and react to visitor input)</li>
        <li>Add the <a href="https://devcenter.heroku.com/articles/mongolab#adding-mongolab">MongoLab Heroku Addon</a></li>
        <li>Optional: <a href='http://docs.mongodb.org/manual/tutorial/install-mongodb-on-os-x/'>Install MongoDB</a> locally (installing <a href='http://brew.sh/'>Homebrew</a> first and using it is recommended)</li>
    </ul>

    <h4>Reading for assignments:</h4>
    <ul class='reading'>
      <li><a href='http://stackoverflow.com/questions/3804209/what-are-sessions-how-do-they-work'>StackOverflow Q about sessions</a></li>
      <li><a href='http://scotch.io/tutorials/javascript/easy-node-authentication-setup-and-local'>Node Authentication Tutorial</a></li>
      <li><a href="http://www.allaboutcookies.org/cookies/session-cookies-used-for.html">What are session cookies used for?</a></li>
    </ul>

    <h4>Additional resources:</h4>
    <ul>
    </ul>
</div>

<div class="class-unit">
    <h3 id="class-5"><a href="#class-5">Week 5: Special Topics</a></h3>
    <h4 class="date">April 22, 2015</h4>

    <h4>Possible topics:</h4>
    <ul>
      <li>Express plugins for authentication</li>
      <li>Web sockets</li>
      <li>Connecting to 3rd-party APIs</li>
      <li>Sending emails</li>
      <li>Uploading photos</li>
    </ul>

    <h4>Exercises:</h4>
    <ul class="exercises">
        <li>Connecting MongoDB with Mongoose: <a href="http://www.lynda.com/JavaScript-tutorials/Connecting-MongoDB-via-Mongoose/141132/152200-4.html">http://www.lynda.com/JavaScript-tutorials/Connecting-MongoDB-via-Mongoose/141132/152200-4.html</a></li>
    </ul>
</div>

<div class="class-unit">
    <h3 id="class-6"><a href="#class-6">Week 6: Special Topics Continued</a></h3>
    <h4 class="date">April 29, 2015</h4>

    <h4>Possible topics:</h4>
    <ul>
      <li>Express plugins for authentication</li>
      <li>Web sockets</li>
      <li>Connecting to 3rd-party APIs</li>
      <li>Sending emails</li>
      <li>Uploading photos</li>
    </ul>
</div>

<div class="class-unit">
    <h3 id="class-7"><a href="#class-7">Week 7: Presentations</a></h3>
    <h4 class="date">May 6, 2015</h4>
    <p>Demo your project for the class!</p>
</div>
